.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.rok-left {
	float: left;
}
.rok-right {
	float: right;
}
.rok-dropdown-group {
	position: relative;
}
.rok-dropdown {
	position: relative;
}
.rok-dropdown-open .rok-dropdown {
	display: block;
}
.rok-popover-group {
	position: relative;
}
.rok-popover {
	position: relative;
}
.rok-popover-open .rok-popover {
	display: block;
}
.gf-menu {
	box-shadow: none;
}
@media only screen and (min-width:768px)
{
.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.rok-left {
	float: left;
}
.rok-right {
	float: right;
}
.rok-dropdown-group {
	position: relative;
}
.rok-dropdown {
	position: relative;
}
.rok-dropdown-open .rok-dropdown {
	display: block;
}
.rok-popover-group {
	position: relative;
}
.rok-popover {
	position: relative;
}
.rok-popover-open .rok-popover {
	display: block;
}
.gf-menu {
	box-shadow: none;
}
.gf-menu li:hover {
	background: rgb(91, 103, 120);
}
.gf-menu li.active:hover {
	background: rgb(91, 103, 120);
}
.gf-menu li:hover > .dropdown {
	left: -1px; top: auto; opacity: 1;
}
.gf-menu li.active:hover > .dropdown {
	left: -1px; top: auto; opacity: 1;
}
.gf-menu li:hover > .item {
	color: rgb(255, 255, 255);
}
.gf-menu li.active:hover {
	color: rgb(255, 255, 255);
}
.gf-menu .dropdown ul li:hover {
	background: none;
}
.gf-menu .dropdown ul li:hover > .item {
	background: rgb(243, 156, 154); color: rgb(73, 85, 101);
}
.gf-menu .dropdown li:hover > .flyout {
	left: 100%; top: 1px; margin-left: -6px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
body.rtl li:hover > .dropdown {
	left: inherit; right: -1px;
}
body.rtl li.active:hover > .dropdown {
	left: inherit; right: -1px;
}
body.rtl .dropdown ul li:hover > .flyout {
	left: inherit; right: 100%; margin-right: -6px; margin-left: auto;
}
}
.layout-mode-960fixed .clearfix {
	
}
.layout-mode-1200fixed .clearfix {
	
}
.layout-mode-960fixed .clearfix::before {
	line-height: 0; display: table; content: "";
}
.layout-mode-960fixed .clearfix::after {
	line-height: 0; display: table; content: "";
}
.layout-mode-1200fixed .clearfix::before {
	line-height: 0; display: table; content: "";
}
.layout-mode-1200fixed .clearfix::after {
	line-height: 0; display: table; content: "";
}
.layout-mode-960fixed .clearfix::after {
	clear: both;
}
.layout-mode-1200fixed .clearfix::after {
	clear: both;
}
.layout-mode-960fixed .hide-text {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.layout-mode-1200fixed .hide-text {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.layout-mode-960fixed .input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.layout-mode-1200fixed .input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.layout-mode-960fixed .rok-left {
	float: left;
}
.layout-mode-1200fixed .rok-left {
	float: left;
}
.layout-mode-960fixed .rok-right {
	float: right;
}
.layout-mode-1200fixed .rok-right {
	float: right;
}
.layout-mode-960fixed .rok-dropdown-group {
	position: relative;
}
.layout-mode-960fixed .rok-dropdown {
	position: relative;
}
.layout-mode-1200fixed .rok-dropdown-group {
	position: relative;
}
.layout-mode-1200fixed .rok-dropdown {
	position: relative;
}
.layout-mode-960fixed .rok-dropdown-open .rok-dropdown {
	display: block;
}
.layout-mode-1200fixed .rok-dropdown-open .rok-dropdown {
	display: block;
}
.layout-mode-960fixed .rok-popover-group {
	position: relative;
}
.layout-mode-960fixed .rok-popover {
	position: relative;
}
.layout-mode-1200fixed .rok-popover-group {
	position: relative;
}
.layout-mode-1200fixed .rok-popover {
	position: relative;
}
.layout-mode-960fixed .rok-popover-open .rok-popover {
	display: block;
}
.layout-mode-1200fixed .rok-popover-open .rok-popover {
	display: block;
}
.layout-mode-960fixed .gf-menu {
	box-shadow: none;
}
.layout-mode-1200fixed .gf-menu {
	box-shadow: none;
}
.layout-mode-960fixed .gf-menu li:hover {
	background: rgb(91, 103, 120);
}
.layout-mode-960fixed .gf-menu li.active:hover {
	background: rgb(91, 103, 120);
}
.layout-mode-1200fixed .gf-menu li:hover {
	background: rgb(91, 103, 120);
}
.layout-mode-1200fixed .gf-menu li.active:hover {
	background: rgb(91, 103, 120);
}
.layout-mode-960fixed .gf-menu li:hover > .dropdown {
	left: -1px; top: auto; opacity: 1;
}
.layout-mode-960fixed .gf-menu li.active:hover > .dropdown {
	left: -1px; top: auto; opacity: 1;
}
.layout-mode-1200fixed .gf-menu li:hover > .dropdown {
	left: -1px; top: auto; opacity: 1;
}
.layout-mode-1200fixed .gf-menu li.active:hover > .dropdown {
	left: -1px; top: auto; opacity: 1;
}
.layout-mode-960fixed .gf-menu li:hover > .item {
	color: rgb(255, 255, 255);
}
.layout-mode-1200fixed .gf-menu li:hover > .item {
	color: rgb(255, 255, 255);
}
.layout-mode-960fixed .gf-menu li.active:hover {
	color: rgb(255, 255, 255);
}
.layout-mode-1200fixed .gf-menu li.active:hover {
	color: rgb(255, 255, 255);
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover {
	background: none;
}
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover {
	background: none;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover > .item {
	background: rgb(243, 156, 154); color: rgb(73, 85, 101);
}
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover > .item {
	background: rgb(243, 156, 154); color: rgb(73, 85, 101);
}
.layout-mode-960fixed .gf-menu .dropdown li:hover > .flyout {
	left: 100%; top: 1px; margin-left: -6px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.layout-mode-1200fixed .gf-menu .dropdown li:hover > .flyout {
	left: 100%; top: 1px; margin-left: -6px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.layout-mode-960fixed body.rtl li:hover > .dropdown {
	left: inherit; right: -1px;
}
.layout-mode-960fixed body.rtl li.active:hover > .dropdown {
	left: inherit; right: -1px;
}
.layout-mode-1200fixed body.rtl li:hover > .dropdown {
	left: inherit; right: -1px;
}
.layout-mode-1200fixed body.rtl li.active:hover > .dropdown {
	left: inherit; right: -1px;
}
.layout-mode-960fixed body.rtl .dropdown ul li:hover > .flyout {
	left: inherit; right: 100%; margin-right: -6px; margin-left: auto;
}
.layout-mode-1200fixed body.rtl .dropdown ul li:hover > .flyout {
	left: inherit; right: 100%; margin-right: -6px; margin-left: auto;
}
.gf-menu {
	background: rgb(73, 85, 101); list-style: none; margin: 0px 15px 4px; border-radius: 4px; display: inline-block;
}
.gf-menu::after {
	clear: both; display: table; content: "";
}
.gf-menu ul {
	list-style: none; margin: 0px; padding: 0px;
}
.gf-menu .item {
	padding: 10px 25px; outline: 0px; text-align: left; color: rgb(255, 255, 255); line-height: 21px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; display: block; cursor: pointer;
}
.l1.gf-menu > li.active {
	background: rgb(255, 255, 255);
}
.l1.gf-menu > li.active > .item {
	color: rgb(255, 255, 255); font-weight: bold;
}
.l1.gf-menu > li > .item {
	padding: 0px 25px; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 44px; font-size: 11px; border-right-color: rgb(55, 64, 76); border-right-width: 1px; border-right-style: solid; position: relative;
}
.l1.gf-menu > li > .item::after {
	top: 0px; right: 0px; bottom: 0px; border-right-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid; position: absolute; content: "";
}
.l1.gf-menu > li:first-child {
	margin-left: 5px;
}
.l1.gf-menu > li:last-child {
	margin-right: 5px;
}
.gf-menu li {
	padding: 0px; border: currentColor; border-image: none; text-align: center; float: left; display: block; position: relative;
}
.gf-menu .dropdown {
	background: rgb(237, 111, 109); margin: 0px auto; padding: 10px 0px; border-radius: 0px 0px 4px 4px; transition:opacity 0.2s ease-out; left: -999em; text-align: left; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; position: absolute; z-index: 1000; opacity: 0; box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5); -webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out;
}
.gf-menu .dropdown .flyout {
	display: block;
}
.gf-menu .dropdown ul li {
	padding: 0px; margin-right: 0px; float: none; display: block;
}
.gf-menu .dropdown ul li.active > .item {
	color: rgb(73, 85, 101);
}
.gf-menu .dropdown ul li.active > .item:hover {
	color: rgb(255, 255, 255);
}
.gf-menu .flyout {
	border-top-color: rgb(55, 64, 76); border-top-width: 1px; border-top-style: solid;
}
body.rtl .l1.gf-menu > li {
	float: right;
}
body.rtl .gf-menu li .item {
	text-align: right;
}
